{# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP #}
# This file has the HOS values that apply only to the Designate API service.
# You may make changes to this file by adding sections/options below.

[DEFAULT]
# Logging
log_config_append = "{{ designate_service_conf_dir }}/api-logging.conf"

# Oslo Messaging
notify_api_faults = True

# End of [DEFAULT] section

[service:api]
api_paste_config = {{ designate_api_paste_config }}
api_base_uri = {{ designate_api_base_uri }}
listen = {{ designate_api_listen }}

enable_host_header = True
enable_api_v1 = True
enable_api_v2 = True
enable_api_admin = True
enabled_extensions_v1 = quotas, touch
#enabled_extensions_v2 =
enabled_extensions_admin = quotas, zones


[keystone_authtoken]
cafile = /etc/ssl/certs/ca-certificates.crt
identity_uri = {{ designate_keystone_identity_uri }}
auth_uri = {{ designate_keystone_auth_uri }}
admin_tenant_name = {{ designate_admin_tenant_name }}
admin_user = {{ designate_admin_user }}
admin_password = {{ designate_admin_password }}
signing_dir = /tmp/keystone-signing-designate

### End of File ###
## Do NOT put anything after this line ##
