{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development Company LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[DEFAULT]
username = {{ glance_check_user }}
project_name = {{ glance_check_tenant_name }}
password = {{ glance_check_password }}
auth_url = {{ keystone_auth_uri }}/v2.0
image_url = http://{{ host.bind.GLA_API.internal.ip_address }}:{{ glance_api_port }}
